@tailwind base;
@tailwind components;
@tailwind utilities;


.font-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}


@keyframes rotate {
  0%{
    transform: rotate(-3deg);
  }
  20%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(3deg);
  }
  75%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-3deg);
  }
}
.rotation-animation{
  animation: rotate 3s linear infinite ;
}


#labelSeminar{
  transition: left 1s ease;
}
#event1Container:hover #labelSeminar {
  left: 4.25rem;
}

.qwitcher-grypen-regular {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-style: normal;
}

.qwitcher-grypen-bold {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
